In [14]:
import pandas as pd
import numpy as np

In [15]:
pdc = pd.read_csv("~/Documents/PhD/Projects/10. ELECSIM/elecsim/data/processed/price_duration_curve/self_priceduration.csv")
pdc

    Unnamed: 0  accepted_price  day  segment_demand  segment_hour  year
0            0       87.007864    0    50838.291593          26.0  2013
1            1       87.007864    0    50708.056873          52.0  2013
2            2       80.447618    0    47280.212265          78.0  2013
3            3       72.045326    0    42479.059234         104.0  2013
4            4       72.045326    0    42444.830878         130.0  2013
5            5       69.434516    0    39681.517275         156.0  2013
6            6       69.434516    0    39333.389851         182.0  2013
7            7       69.434516    0    39306.675037         208.0  2013
8            8       68.460838    0    39117.166823         234.0  2013
9            9       68.460838    0    38785.736159         260.0  2013
10          10       68.460838    0    38674.702712         286.0  2013
11          11       67.824743    0    38462.653873         312.0  2013
12          12       66.605613    0    37428.289657         338.0  2013
13          13       66.537230    0    36523.325323         364.0  2013
14          14       65.407927    0    31380.723573         390.0  2013
15          15       63.653476    0    29366.259608         416.0  2013
16          16       49.631925    0    22407.885323         442.0  2013
17          17       44.640881    0    19978.506899         468.0  2013
18          18       44.640881    0    18941.638169         494.0  2013
19          19       44.640881    0    18570.135283         520.0  2013
20          20       38.571301    0    16909.642607         546.0  2013
21          21       38.571301    0    15853.572605         572.0  2013
22          22       30.907132    0    14522.840918         598.0  2013
23          23       30.907132    0    14149.668356         624.0  2013

In [32]:
pdc['accepted_price_test'] = np.NaN
pdc.accepted_price_test.iloc[len(pdc)-1] = 51
pdc.accepted_price_test.iloc[int((len(pdc)-1)/2)] = 54
pdc.accepted_price_test = pdc.accepted_price_test.interpolate(method = "spline", order = 1, limit_direction = "both")
pdc

,Unnamed: 0,accepted_price,day,segment_demand,segment_hour,year,accepted_price_test
0,0,87.007864,0,50838.291593,26.0,2013,56.75
1,1,87.007864,0,50708.056873,52.0,2013,56.50
2,2,80.447618,0,47280.212265,78.0,2013,56.25
3,3,72.045326,0,42479.059234,104.0,2013,56.00
4,4,72.045326,0,42444.830878,130.0,2013,55.75
5,5,69.434516,0,39681.517275,156.0,2013,55.50
6,6,69.434516,0,39333.389851,182.0,2013,55.25
7,7,69.434516,0,39306.675037,208.0,2013,55.00
8,8,68.460838,0,39117.166823,234.0,2013,54.75
9,9,68.460838,0,38785.736159,260.0,2013,54.50
10,10,68.460838,0,38674.702712,286.0,2013,54.25
11,11,67.824743,0,38462.653873,312.0,2013,54.00
12,12,66.605613,0,37428.289657,338.0,2013,53.75
13,13,66.537230,0,36523.325323,364.0,2013,53.50
14,14,65.407927,0,31380.723573,390.0,2013,53.25
15,15,63.653476,0,29366.259608,416.0,2013,53.00
16,16,49.631925,0,22407.885323,442.0,2013,52.75
17,17,44.640881,0,19978.506899,468.0,2013,52.50
18,18,44.640881,0,18941.638169,494.0,2013,52.25
19,19,44.640881,0,18570.135283,520.0,2013,52.00
20,20,38.571301,0,16909.642607,546.0,2013,51.75
21,21,38.571301,0,15853.572605,572.0,2013,51.50
22,22,30.907132,0,14522.840918,598.0,2013,51.25
23,23,30.907132,0,14149.668356,624.0,2013,51.00